@define-mixin text {
	margin: 0;
	color: var(--black);
	font-family: Rubik, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

@define-mixin textLarge {
	font-size: scale(24px);
	line-height: scale(32px);
}

@define-mixin textMedium {
	font-size: scale(20px);
	line-height: scale(28px);
}

@define-mixin textNormal {
	font-size: scale(18px);
	line-height: scale(21px);
}

@define-mixin textSmall {
	font-size: scale(16px);
	line-height: scale(20px);
}

@define-mixin textTiny {
	font-size: scale(14px);
	line-height: scale(17.7px);
}
