:root {
	--brown-light: #C97E67;
	--brown-24: rgb(126 99 101 / 24%);
	--red: #F66356;
	--red-dark: #CA7E7F;
	--white: #FFF;
	--black: #222;
	--beige: #718283;
	--milky: #EEF4F8;
	--gray: #4F4F4F;
	--green: #5AACA8;
	--green-20: rgb(90 172 168 / 20%);
}
