.button {
	@mixin text;

	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border: none;
	border-radius: scale(8px);
	cursor: pointer;
	text-align: center;
	transition: all .3s ease-in-out;

	&:hover {
		@mixin hover-button;
	}

	&:focus {
		@mixin focus-button;
	}

	&:disabled {
		background-color: var(--red-dark);

		&:hover {
			@mixin hover-button-disabled;
		}
	}
}

.primary {
	@mixin headline;

	background-color: var(--red);
	color: var(--white);
}

.green {
	background-color: var(--green);
	color: var(--white);
}

.ghost {
	border: scale(1px) solid var(--brown-24);
	background-color: transparent;
	color: var(--black);
}

.l {
	@mixin textLarge;

	width: scale(304px);
	height: scale(56px);
}

.m {
	@mixin textSmall;

	width: scale(272px);
	height: scale(66px);
}

.s {
	@mixin textTiny;

	width: scale(262px);
	height: scale(44px);
}

.icon {
	display: inline-block;
}

.reload {
	margin-right: scale(12px);
	transform: translateY(scale(2px));
}

.basket {
	margin-right: scale(5px);
}
